{% extends 'base.html' %}

{% block title %}Login{% endblock %}


    {% block content %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>

        <div class="wrapper">
            <div class="container">
              <h2>Welcome to FreshPoints</h2>
                {% if form.errors %}
                    <p class="error"> Sorry, that's not a valid username or password</p>
                {% endif %}

              <form action="" method="post">{% csrf_token %}
                <label for="username">User Name:</label>{{ form.username }}
                  <label for="password">Password</label>{{ form.password }}
                <input type="submit" value="Login">
                <a href="{% url 'register' %}">Register</a>
              </form>
                </div>

                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
        </div>

        <script type="text/javascript" src="../../../static/js/jquery.min2-1-3.js"></script>
    <script  type="text/javascript" src="../../../static/js/login.js"></script>

    {% endblock %}

