{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>

        <div class="wrapper">
            <div class="container">
  <h2>Logged out</h2><br><hr>
         <form>
              <p>You have been successfully logged out.</p>
              <p><a href="{% url 'login' %}">Login</a> again.</p>
         </form>

            </div>
        <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
        </div>
    <script type="text/javascript" src="../../../static/js/jquery.min2-1-3.js"></script>
    <script  type="text/javascript" src="../../../static/js/login.js"></script>
{% endblock %}