{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>
        <div class="wrapper">
            <div class="container">
              <h2>Register</h2>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Register</button>
                  </form>
            </div>
            <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
        </div>

    <script type="text/javascript" src="../../../static/js/jquery.min2-1-3.js"></script>
    <script  type="text/javascript" src="../../../static/js/login.js"></script>

{% endblock %}